@layer components {
  .work-order,
  .deck {
    @apply bg-white p-2.5 mt-2.5;
  }

  .work-order-table,
  .deck-table {
    @apply w-full text-left text-sm;
  }

  .work-order-table > tbody > tr > td,
  .deck-table > tbody > tr > td {
    @apply p-1;
  }

  .work-order-table > tbody > tr > td:first-child {
    @apply text-right pr-2;
  }

  .work-order-table > tbody > tr > td:last-child,
  .deck-table > tbody > tr > td {
    @apply font-bold;
  }

  .deck-table > tbody > tr > td:first-child,
  .deck-table .non-bold {
    @apply font-normal;
  }

  .work-order-table > tbody > tr > td:last-child {
    @apply !pl-7;
  }

  .deck-line-item-header {
    @apply font-bold py-1.5 my-1 border-x-0 border-y border-solid border-black;
  }

  .contained-image {
    @apply size-full object-contain;
  }

  .deck-table .install-notes {
    @apply !leading-4 border border-solid border-black;
  }
}
