@layer components {
  .table {
    @apply my-0;
  }

  .table thead th,
  .table tfoot td {
    @apply p-2;
  }

  .table tbody td {
    @apply border-t border-neutral-200;
  }

  .table tbody td {
    @apply bg-[#e7b58b] p-2;
  }

  .table-hover tbody td {
    @apply cursor-pointer;
  }

  .table-hover tbody tr:hover td {
    @apply bg-[#d2a47e];
  }

  .table > tbody > tr.active > td {
    @apply bg-[#ffd9a5];
  }

  .table-hover tfoot td {
    @apply bg-transparent font-bold;
  }
}
